VITE_APP_DEFAULT_ROUTE = /workbench
VITE_APP_PUBLIC_PATH = /
VITE_APP_API_BASE_URL = /api
VITE_APP_INVENTORY_API_URL = http://localhost:5001/api
VITE_APP_SALES_API_URL = http://localhost:5002/api
VITE_APP_ROUTER_MODE = frontend
